@model ReadViewModel
@{
    ViewBag.Title = "Article";
}
<div id="main-wrapper">
	<div class="wrapper style2">
		<div class="inner">
			<div class="container">
				<div id="content">

					<!-- Content -->

					<article>
						<header class="major">
							<h2>@Model.Article.Title</h2>
							<p>@Model.Article.Description</p>
						</header>

						<span class="image featured"><img src="/Areas/News/images/pic08.jpg" alt="" /></span>

						<vc:content-parser content="@Model.Article.Content"/>

					</article>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper style3">
		<div class="inner">
			<div class="container">
				<div class="row">
					<div class="col-8 col-12-medium">

						<!-- Article list -->
						<section class="box article-list">
							<h2 class="icon fa-file-alt">Recent Posts</h2>

							@foreach (var item in Model.Recently.ArticleList)
							{
								<article class="box excerpt">
									<a class="image left" asp-action="Read" asp-controller="Home" asp-route-Id="@item.Id"><img src="/Areas/News/images/pic04.jpg" alt="" /></a>
									<div>
										<header>
											<span class="date">@item.PubleshedTime</span>
											<h3><a asp-action="Article" asp-controller="Home" asp-route-Id="@item.Id">@item.Title</a></h3>
										</header>
										<p>
											@item.Description
										</p>
									</div>
								</article>

							}
						</section>
					</div>
					<div class="col-4 col-12-medium">

						<!-- Spotlight -->
						<section class="box spotlight">
							<h2 class="icon fa-file-alt">Spotlight</h2>
							<article>
								<a class="image featured" asp-action="Read" asp-controller="Home" asp-route-Id="@Model.Recently.Spotlight.Id"><img src="/Areas/News/images/pic07.jpg" alt=""></a>
								<header>
									<h3><a asp-action="Read" asp-controller="Home" asp-route-Id="@Model.Recently.Spotlight.Id">@Model.Recently.Spotlight.Title</a></h3>
									<p>Author: @Model.Recently.Spotlight.AuthorName</p>
								</header>
								<p>
									@Model.Recently.Spotlight.Description
								</p>
								<footer>
									<a class="button alt icon solid fa-file-alt" asp-action="Read" asp-controller="Home" asp-route-Id="@Model.Recently.Spotlight.Id">Continue Reading</a>
								</footer>
							</article>
						</section>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>