@model ViewModel
@{
	ViewBag.Title = "Index";
}

@section Banner {
	<!-- Banner -->
	<div id="banner">
		<p>Does this statement make you want to click the big shiny button?</p>
		<a href="#" class="button large icon solid fa-check-circle">Yes it does</a>
	</div>
}

<!-- Main Wrapper -->
				<div id="main-wrapper">
					<div class="wrapper style1">
						<div class="inner">

							<!-- Feature 1 -->
								<section class="container box feature1">
									<div class="row">
										<div class="col-12">
											<header class="first major">
												<h2>Create is easier than you think</h2>
												<p>And don't forget to share with your friends</p>
											</header>
										</div>
										<div class="col-4 col-12-medium">
											<section>
												<a asp-area="News" asp-controller="Manage" asp-action="Create" class="image featured"><img src="/Areas/News/images/pic01.jpg" alt="" /></a>
												<header class="second icon solid fa-user">
													<h3>Doesn't need permissions</h3>
													<p>Everyone can create post</p>
												</header>
											</section>
										</div>
										<div class="col-4 col-12-medium">
											<section>
												<a asp-area="News" asp-controller="Read" asp-action="Post" asp-route-Id="1" class="image featured"><img src="/Areas/News/images/pic02.jpg" alt="" /></a>
												<header class="second icon solid fa-cog">
													<h3>Post formatting</h3>
													<p>You can design all your posts</p>
												</header>
											</section>
										</div>
										<div class="col-4 col-12-medium">
											<section>
												<a href="#" class="image featured"><img src="/Areas/News/images/pic03.jpg" alt="" /></a>
												<header class="second icon solid fa-chart-bar">
													<h3>Analitics</h3>
													<p>Authomaticle analysis post trafic</p>
												</header>
											</section>
										</div>
										<div class="col-12">
											<p>It is desciption, I think</p>
										</div>
									</div>
								</section>

						</div>
					</div>
					<div class="wrapper style2">
						<div class="inner">

							<!-- Feature 2 -->
								<section class="container box feature2">
									<div class="row">
										<div class="col-6 col-12-medium">
											<section>
												<header class="major">
													<h2>Learn how to format posts</h2>
													<p>It’s seems like HTML but not HTML</p>
												</header>
												<p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus.
												Praesent semper mod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat.
												Aliquam luctus et mattis lectus sit amet pulvinar. Nam turpis nisi
												consequat etiam.</p>
												<footer>
													<a href="#" class="button medium icon solid fa-arrow-circle-right">Let's read this</a>
												</footer>
											</section>
										</div>
										<div class="col-6 col-12-medium">
											<section>
												<header class="major">
													<h2>This is also a subheading</h2>
													<p>And is as unimportant as the other one</p>
												</header>
												<p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus.
												Praesent semper mod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat.
												Aliquam luctus et mattis lectus sit amet pulvinar. Nam turpis nisi
												consequat etiam.</p>
												<footer>
													<a href="#" class="button medium alt icon solid fa-info-circle">Wait, what?</a>
												</footer>
											</section>
										</div>
									</div>
								</section>

							</div>
					</div>
					<div class="wrapper style3">
						<div class="inner">
							<div class="container">
								<div class="row">
									<div class="col-8 col-12-medium">

											<!-- Article list -->
											<section class="box article-list">
												<h2 class="icon fa-file-alt">Recent Posts</h2>

												@foreach (var item in Model.RecentlyPosts)
												{
													<article class="box excerpt">
														<a asp-area="News" asp-controller="Read" asp-action="Post" asp-route-Id="@item.Id" class="image left"><img src="/Areas/News/images/pic04.jpg" alt="" /></a>
														<div>
															<header>
																<span class="date">@item.EditedTime.ToString("D")</span>
																<h3><a asp-area="News" asp-controller="Read" asp-action="Post" asp-route-Id="@item.Id">@item.Title</a></h3>
															</header>
															<p>@item.Content.Substring(0, @item.Content.Length > 100? 100 : @item.Content.Length)...</p>
														</div>
													</article>
												}

											</section>
									</div>
									<div class="col-4 col-12-medium">

										<!-- Spotlight -->
											<section class="box spotlight">
												<h2 class="icon fa-file-alt">Spotlight</h2>
												<article>
													<a asp-area="News" asp-controller="Read" asp-action="Post" asp-route-Id="@Model.Spotlight.Id" class="image featured"><img src="/Areas/News/images/pic07.jpg" alt=""></a>
													<header>
														<h3><a asp-area="News" asp-controller="Read" asp-action="Post" asp-route-Id="@Model.Spotlight.Id">@Model.Spotlight.Title</a></h3>
														<p>@Model.Spotlight.PubleshedTime.ToString("D")</p>
													</header>
													<p>@Model.Spotlight.Content.Substring(0, @Model.Spotlight.Content.Length > 100? 100 : @Model.Spotlight.Content.Length)...</p>
													<footer>
														<a asp-area="News" asp-controller="Read" asp-action="Post" asp-route-Id="@Model.Spotlight.Id"
														class="button alt icon solid fa-file-alt">Continue Reading</a>
													</footer>
												</article>
											</section>

									</div>
										
								</div>
							</div>
						</div>
					</div>
				</div>