@model ViewModel
@{
    ViewBag.Title = "Post";
}

<!-- Main Wrapper -->
				<div id="main-wrapper">
					<div class="wrapper style2">
						<div class="inner">
							<div class="container">
								<div id="content">

									<!-- Content -->

										<article>
											<header class="major">
												<h2>@Model.CurrentPost.Title</h2>
												<p>Author: @Model.CurrentPost.Author.Username</p>
											</header>

											<span class="image featured"><img alt="" /></span>

											
											<vc:post content="@Model.CurrentPost.Content"/>
										</article>
								</div>
							</div>
						</div>
					</div>
					<div class="wrapper style3">
						<div class="inner">
							<div class="container">
								<div class="row">
									<div class="col-8 col-12-medium">

										<!-- Article list -->
											<section class="box article-list">
												<h2 class="icon fa-file-alt">Recent Posts</h2>

												@foreach (var item in Model.RecentlyPosts)
												{
													<article class="box excerpt">
														<a asp-area="News" asp-controller="Read" asp-action="Post" asp-route-Id="@item.Id" class="image left"><img src="/Areas/News/images/pic04.jpg" alt="" /></a>
														<div>
															<header>
																<span class="date">@item.EditedTime.ToString("D")</span>
																<h3><a asp-area="News" asp-controller="Read" asp-action="Post" asp-route-Id="@item.Id">@item.Title</a></h3>
															</header>
															<p>@item.Content.Substring(0, @item.Content.Length > 100? 100 : @item.Content.Length)...</p>
														</div>
													</article>
												}

											</section>
									</div>
									<div class="col-4 col-12-medium">

										<!-- Spotlight -->
										<section class="box spotlight">
												<h2 class="icon fa-file-alt">Spotlight</h2>
												<article>
													<a asp-area="News" asp-controller="Read" asp-action="Post" asp-route-Id="@Model.Spotlight.Id" class="image featured"><img src="/Areas/News/images/pic07.jpg" alt=""></a>
													<header>
														<h3><a asp-area="News" asp-controller="Read" asp-action="Post" asp-route-Id="@Model.Spotlight.Id">@Model.Spotlight.Title</a></h3>
														<p>@Model.Spotlight.PubleshedTime.ToString("D")</p>
													</header>
													<p>@Model.Spotlight.Content.Substring(0, @Model.Spotlight.Content.Length > 100? 100 : @Model.Spotlight.Content.Length)...</p>
													<footer>
														<a asp-area="News" asp-controller="Read" asp-action="Post" asp-route-Id="@Model.Spotlight.Id"
														class="button alt icon solid fa-file-alt">Continue Reading</a>
													</footer>
												</article>
											</section>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>