@model IEnumerable<Article>
@{
    ViewBag.Title = "Hystory";
}

<h1>Hystory</h1>

<table>
    <tr>
        <td>Title</td>
        <td>Publeshed</td>
        <td>Description</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.IsPubleshed</td>
            <td>@item.Description</td>
            <td><a asp-action="Article" asp-controller="Analitics" asp-route-Id="@item.Id">Analitics</a></td>
            <td><a asp-action="Update" asp-controller="manage" asp-route-Id="@item.Id">Edit</a></td>
        </tr>
    }
</table>